-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ADSO3294089
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `ADSO3294089`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `adso3294089` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `ADSO3294089`;

--
-- Table structure for table `t_aprendiz`
--

DROP TABLE IF EXISTS `t_aprendiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_aprendiz` (
  `APR_ID` int(11) NOT NULL AUTO_INCREMENT,
  `APR_UUID` varchar(37) NOT NULL,
  `APR_FECHA_NAC` date NOT NULL,
  `APR_PER_ID` int(11) NOT NULL,
  PRIMARY KEY (`APR_ID`),
  UNIQUE KEY `T_APRENDIZ_UK1` (`APR_PER_ID`),
  CONSTRAINT `T_APRENDIZ_FK` FOREIGN KEY (`APR_PER_ID`) REFERENCES `t_persona` (`PER_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_aprendiz`
--

LOCK TABLES `t_aprendiz` WRITE;
/*!40000 ALTER TABLE `t_aprendiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_aprendiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_curso`
--

DROP TABLE IF EXISTS `t_curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_curso` (
  `CUR_ID` int NOT NULL AUTO_INCREMENT,
  `CUR_UUID` varchar(37) NOT NULL,
  `CUR_NOMBRE` varchar(35) NOT NULL,
  `CUR_CODIGO` int NOT NULL,
  `CUR_DURACION` int NOT NULL,
  `CUR_DESCRIPCION` varchar(100) NOT NULL,
  `CUR_COSTO` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`CUR_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_curso`
--

LOCK TABLES `t_curso` WRITE;
/*!40000 ALTER TABLE `t_curso` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_evaluacion`
--

DROP TABLE IF EXISTS `t_evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_evaluacion` (
  `EVA_ID` int NOT NULL AUTO_INCREMENT,
  `EVA_UUID` varchar(37) NOT NULL,
  `EVA_NOMBRE` varchar(45) NOT NULL,
  `EVA_CODIGO` int NOT NULL,
  `EVA_PORCENTAJE` double NOT NULL,
  `EVA_DATE` date NOT NULL,
  PRIMARY KEY (`EVA_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_evaluacion`
--

LOCK TABLES `t_evaluacion` WRITE;
/*!40000 ALTER TABLE `t_evaluacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_imparte`
--

DROP TABLE IF EXISTS `t_imparte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_imparte` (
  `IMP_ID` int NOT NULL AUTO_INCREMENT,
  `IMP_UUID` varchar(37) NOT NULL,
  `IMP_ROL` varchar(45) NOT NULL,
  `IMP_FECHA_ASIGNACION` date NOT NULL,
  `IMP_CUR_ID` int NOT NULL,
  `IMP_INS_ID` int NOT NULL,
  PRIMARY KEY (`IMP_ID`),
  KEY `T_IMPARTE_FK` (`IMP_CUR_ID`),
  KEY `T_IMPARTE_FK2` (`IMP_INS_ID`),
  CONSTRAINT `T_IMPARTE_FK` FOREIGN KEY (`IMP_CUR_ID`) REFERENCES `t_curso` (`CUR_ID`),
  CONSTRAINT `T_IMPARTE_FK2` FOREIGN KEY (`IMP_INS_ID`) REFERENCES `t_instructor` (`INS_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_imparte`
--

LOCK TABLES `t_imparte` WRITE;
/*!40000 ALTER TABLE `t_imparte` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_imparte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_instructor`
--

DROP TABLE IF EXISTS `t_instructor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_instructor` (
  `INS_ID` int NOT NULL AUTO_INCREMENT,
  `INS_UUID` varchar(37) NOT NULL,
  `INS_ESPECIALIDAD` varchar(20) NOT NULL,
  `INS_PER_ID` int NOT NULL,
  PRIMARY KEY (`INS_ID`),
  KEY `T_INSTRUCTOR_FK` (`INS_PER_ID`),
  CONSTRAINT `T_INSTRUCTOR_FK` FOREIGN KEY (`INS_PER_ID`) REFERENCES `t_persona` (`PER_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_instructor`
--

LOCK TABLES `t_instructor` WRITE;
/*!40000 ALTER TABLE `t_instructor` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_instructor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_mat_eva`
--

DROP TABLE IF EXISTS `t_mat_eva`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_mat_eva` (
  `MATE_ID` int NOT NULL AUTO_INCREMENT,
  `MATE_UUID` varchar(37) NOT NULL,
  `MATE_EVA_ID` int NOT NULL,
  `MATE_MAT_ID` int NOT NULL,
  `MATE_NOTA` decimal(2,1) DEFAULT NULL,
  PRIMARY KEY (`MATE_ID`),
  KEY `T_MAT_EVA_FK` (`MATE_EVA_ID`),
  KEY `T_MAT_EVA_FK2` (`MATE_MAT_ID`),
  CONSTRAINT `T_MAT_EVA_FK` FOREIGN KEY (`MATE_EVA_ID`) REFERENCES `t_evaluacion` (`EVA_ID`),
  CONSTRAINT `T_MAT_EVA_FK2` FOREIGN KEY (`MATE_MAT_ID`) REFERENCES `t_matricula` (`MAT_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_mat_eva`
--

LOCK TABLES `t_mat_eva` WRITE;
/*!40000 ALTER TABLE `t_mat_eva` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_mat_eva` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_matricula`
--

DROP TABLE IF EXISTS `t_matricula`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_matricula` (
  `MAT_ID` int NOT NULL AUTO_INCREMENT,
  `MAT_UUID` varchar(37) NOT NULL,
  `MAT_ESTADO` varchar(45) NOT NULL,
  `MAT_FECHA_INCRIPCION` date NOT NULL,
  `MAT_APR_ID` int NOT NULL,
  `MAT_CUR_ID` int NOT NULL,
  PRIMARY KEY (`MAT_ID`),
  KEY `T_MATRICULA_FK` (`MAT_APR_ID`),
  KEY `T_MATRICULA_FK2` (`MAT_CUR_ID`),
  CONSTRAINT `T_MATRICULA_FK` FOREIGN KEY (`MAT_APR_ID`) REFERENCES `t_aprendiz` (`APR_ID`),
  CONSTRAINT `T_MATRICULA_FK2` FOREIGN KEY (`MAT_CUR_ID`) REFERENCES `t_curso` (`CUR_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_matricula`
--

LOCK TABLES `t_matricula` WRITE;
/*!40000 ALTER TABLE `t_matricula` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_matricula` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_persona`
--

DROP TABLE IF EXISTS `t_persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `t_persona` (
  `PER_ID` int(11) NOT NULL AUTO_INCREMENT,
  `PER_UUID` varchar(37) NOT NULL,
  `PER_PRI_NOMBRE` varchar(15) NOT NULL,
  `PER_SEG_NOMBRE` varchar(15) DEFAULT NULL,
  `PER_PRI_APELLIDO` varchar(15) NOT NULL,
  `PER_SEG_APELLIDO` varchar(15) DEFAULT NULL,
  `PER_DOC` bigint(20) NOT NULL,
  PRIMARY KEY (`PER_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_persona`
--

LOCK TABLES `t_persona` WRITE;
/*!40000 ALTER TABLE `t_persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'ADSO3294089'
--

--
-- Dumping routines for database 'ADSO3294089'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-07 18:39:22
